body{
  box-sizing: border-box;
  background-color: #FFFDD0;
  background-color: hsl(27, 66%, 92%);
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}


#balance-div{
  width: 540px;
  height: 125px;
  background-color: hsl(10, 79%, 65%);
  margin-bottom: 25px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.internal-div{

}

.balance-h6{
  margin: 5px 0 0px 0;
  font-size: 18px;
}

.balance-h3{
  margin: 5px 0 0 0;
  font-size: 30px;
}

.image-in-balance-div{
 width: 72px;
 height: 48px;
 object-fit: contain;
}

#spending-avg{
  height: 500px;
  width: 540px;
  background-color: white;
  background-color: hsl(33, 100%, 98%);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 30px 40px 40px 40px;
  color: brown;
  color: hsl(25, 47%, 15%);
}

h2{
  margin-top: 0;
  font-weight: 700;
}

.barchart-div{
  height: 170px;
  width: 460.5px

}

.bar{
  width: 20px;
  cursor: pointer;
}


hr{
  height: 2px;
  background-color: grey;
  background-color: hsl(28, 10%, 53%);
}
